{% extends "_base.html" %}
{% block content %}

<h2>{{ title }}</h2>

<p>
    See more information about this recording on
    <a href="//musicbrainz.org/track/{{ mbid }}">MusicBrainz</a>.
</p>

{% if tracks %}

<p>Linked tracks:</p>

<ul>
{% for tr in tracks %}
    <li><a href="{{ base_url }}track/{{ tr.gid }}">{{ tr.gid }}</a></li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}

